
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="../../Contents/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="../../Contents/Scripts/jquery-1.11.3.min.js"></script>
    <script src="../../Contents/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="../../Contents/layer/layer.js"></script>

    <script src="../../Scripts_Common/Common.js"></script>
    <script src="../../Scripts_Common/ParaData.js"></script>

    <link href="~/Contents/zTree_v3/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    <script src="../../Contents/zTree_v3/js/jquery.ztree.core.min.js"></script>
</head>
<body>
    <input type="hidden" id="ID" value="">
    <div style="margin:10px;">
        <div class="form-group" style="height:450px;width:665px;float:left;">
            <div class="input-group">
                <div class="input-group-addon" style="width: 100px; text-align: right;">类型：</div>
                <input type="text" style="width:565px;" class="form-control" id="TypeStr" maxlength="20" readonly>
                <input type="hidden" id="Type">
            </div>
            <div style="height:10px;">&nbsp;</div>
            <div class="input-group">
                <div class="input-group-addon" style="width: 100px; text-align: right; color: red;">名称：</div>
                <input type="text" style="width:565px;" class="form-control" id="Title" maxlength="20" readonly>
            </div>
            <div style="height:10px;">&nbsp;</div>
            <div name="tree" class="input-group">
                <div class="input-group-addon" style="width: 100px; text-align: right; color: red;">组织机构：</div>
                <input type="text" style="width:465px;" class="form-control" id="OrgName" readonly>
                <input type="hidden" id="OrgCode">
                <button type="button" class="input-group-addon btn btn-primary" style="width:100px;height:34px;" onclick="Do_ShowOrHide();">展开/收起</button>
            </div>
            <div name="tree" style="height:5px;">&nbsp;</div>
            <div name="tree" id="div_tree1" class="form-group" style="height:280px;width:665px;float:left;overflow:auto;border:1px solid #C0C0C0;">
                <div id="tree1" class="ztree">

                </div>
            </div>
            <div name="tree" style="height:5px;">&nbsp;</div>
            <div class="input-group">
                <div class="input-group-addon" style="width: 100px; text-align: right;">描述：</div>
                <input type="text" style="width:565px;" class="form-control" id="Remark" maxlength="20" readonly>
            </div>
        </div>
    </div>
    <div style="clear:both;margin-right:30px;">
        <div class="form-group" style="text-align:right;">
            <button type="button" class="btn btn-primary" onclick="Do_Save();">提交</button>
        </div>
    </div>

    <script type="text/javascript">
        var tree1;
        var setting1 = {
            data: {
                simpleData: {
                    enable: true
                }
            },
            callback: {
                onClick: zTreeOnClick1
            }
        };

        function zTreeOnClick1(event, treeId, treeNode) {
            $("#OrgCode").val(treeNode.id);
            $("#OrgName").val(treeNode.name);
        };
    </script>

    <script type="text/javascript">
        var dataObj = CommonFun_Data();

        $(function () {
            var data;
            eval("(data = @Html.Raw(ViewBag.Ret));");

            var obj = data.obj1;
            $.fn.zTree.init($("#tree1"), setting1, obj);
            tree1 = $.fn.zTree.getZTreeObj("tree1");
            tree1.expandAll(true);

            var obj = data.obj2;
            dataObj.Fun_Data_Init(obj);
            dataObj.Fun_Set_Html();
        });

        function Do_ShowOrHide() {
            $("#div_tree1").toggle();
        }
    </script>

    <script type="text/javascript">
        function Do_Save() {
            dataObj.Fun_Set_OneCheckInfo("OrgCode", "组织结构", "null");

            try {
                dataObj.Fun_Get_Html();
                dataObj.Fun_Check();
            } catch (err) {
                alert(err);
                return false;
            }

            layer.load(2);
            var ajaxObj = CommonFun_Ajax();
            ajaxObj.url = "../api/B05_Position/DoSave_Org";
            ajaxObj.data = { "para": dataObj.Fun_Serialize_All() };
            ajaxObj.getData(function (data) {
                layer.closeAll("loading");

                if (data.ret_status == ParaData.ret.Succes) {
                    parent.layer.close(parent.layer.getFrameIndex(window.name));
                } else {
                    alert("保存失败！");
                }
            }, function () {
                // Error
                layer.closeAll("loading");
            });
        }
    </script>
</body>
</html>
