
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="../../Contents/MyUI/css/content.css" rel="stylesheet" />

    <link href="../../Contents/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="../../Contents/Scripts/jquery-1.11.3.min.js"></script>
    <script src="../../Contents/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="../../Contents/layer/layer.js"></script>
    <script src="../../Contents/My97DatePicker/WdatePicker.js"></script>

    <link href="~/Contents/zTree_v3/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    <script src="../../Contents/zTree_v3/js/jquery.ztree.core.min.js"></script>

    <script src="../../Scripts_Common/Common.js"></script>
    <script src="../../Scripts_Common/ParaData.js"></script>

    <script src="../../Scripts_Common/PageList.js"></script>
</head>
<body style="overflow-x:hidden;overflow-y:hidden;">
    <input type="hidden" id="ID" value="" />
    <div style="margin:10px;">
        <div>
            <div class="form-group" style="height:480px;width:420px;float:left;">
                <div class="input-group">
                    <div class="input-group-addon" style="width: 100px; text-align: right; color: red;">工种：</div>
                    <input type="text" style="width:300px;" class="form-control" id="JobName" readonly />
                    <input type="hidden" id="JobCode" value="" />
                </div>
                <div style="height:10px;">&nbsp;</div>
                <div class="input-group">
                    <div class="input-group-addon" style="width: 100px; text-align: right; color: red;">工作时间：</div>
                    <input type="text" style="width:300px;" class="form-control" id="WorkDate" readonly>
                </div>
                <div style="height:10px;">&nbsp;</div>
                <div class="input-group">
                    <div class="input-group-addon" style="width: 100px; text-align: right;">班次：</div>
                    <input type="text" style="width:300px;" class="form-control" id="WorkClassName" readonly>
                </div>
                <div style="height:10px;">&nbsp;</div>
                <div class="input-group">
                    <div class="input-group-addon" style="width: 100px; text-align: right;">录入人：</div>
                    <input type="text" style="width:300px;" class="form-control" id="WorkManName" readonly>
                </div>
                <div style="height:10px;">&nbsp;</div>
                <div class="input-group">
                    <div class="input-group-addon" style="width: 100px; text-align: right;">工作时长：</div>
                    <input type="text" style="width:230px;" class="form-control" id="WorkHour" readonly>
                    <div class="input-group-addon" style="width: 70px;">小时</div>
                </div>
                <div style="height:30px;">&nbsp;</div>
                <div class="input-group">
                    <div class="input-group-addon" style="width: 100px; text-align: right;">情况说明：</div>
                    <textarea style="width:300px;" class="form-control" id="RRemark" rows="3" maxlength="30"></textarea>
                </div>
                <div style="height:10px;">&nbsp;</div>
                <div class="input-group">
                    <input type="button" class="btn btn-primary" style="margin-top:-3px;margin-left:120px;" value="提交审核" onclick="Btn_Submit();" />
                </div>
            </div>
            <div class="form-group" style="height:480px;width:760px;float:left;">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#div1" aria-controls="div1" name="div1" role="tab" data-toggle="tab">第一项</a></li>
                    <li role="presentation"><a href="#div2" aria-controls="div2" name="div2" role="tab" data-toggle="tab">第二项</a></li>
                    <li role="presentation"><a href="#div3" aria-controls="div3" name="div3" role="tab" data-toggle="tab">第三项</a></li>
                    <li role="presentation"><a href="#div4" aria-controls="div4" name="div4" role="tab" data-toggle="tab">第四项</a></li>
                    <li role="presentation"><a href="#div5" aria-controls="div5" name="div5" role="tab" data-toggle="tab">第五项</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="div1">
                        <div class="col-lg-12 col-sm-12 col-xs-12" style="margin-left:-30px;">
                            <div class="col-lg-6 col-sm-6 col-xs-6">
                                <div class="input-group" style="margin-top:10px;">
                                    <div class="input-group-addon" style="width: 100px; text-align: right; color: red;">位置：</div>
                                    <input type="text" style="width:250px;" class="form-control" name="PositionName" readonly>
                                    <input type="hidden" name="PositionCode">
                                </div>
                                <div style="height:10px;">&nbsp;</div>
                                <div class="input-group">
                                    <div class="input-group-addon" style="width: 100px; text-align: right; color: red;">工作时长：</div>
                                    <input type="text" style="width:180px;" class="form-control" name="WorkHour" readonly>
                                    <div class="input-group-addon" style="width: 70px;">小时</div>
                                </div>
                            </div>
                            <div name="DF" class="col-lg-6 col-sm-6 col-xs-6">
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="div2">
                        <div class="col-lg-12 col-sm-12 col-xs-12" style="margin-left:-30px;">
                            <div class="col-lg-6 col-sm-6 col-xs-6">
                                <div class="input-group" style="margin-top:10px;">
                                    <div class="input-group-addon" style="width: 100px; text-align: right; color: red;">位置：</div>
                                    <input type="text" style="width:250px;" class="form-control" name="PositionName" readonly>
                                    <input type="hidden" name="PositionCode">
                                </div>
                                <div style="height:10px;">&nbsp;</div>
                                <div class="input-group">
                                    <div class="input-group-addon" style="width: 100px; text-align: right; color: red;">工作时长：</div>
                                    <input type="text" style="width:180px;" class="form-control" name="WorkHour" readonly>
                                    <div class="input-group-addon" style="width: 70px;">小时</div>
                                </div>
                            </div>
                            <div name="DF" class="col-lg-6 col-sm-6 col-xs-6">
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="div3">
                        <div class="col-lg-12 col-sm-12 col-xs-12" style="margin-left:-30px;">
                            <div class="col-lg-6 col-sm-6 col-xs-6">
                                <div class="input-group" style="margin-top:10px;">
                                    <div class="input-group-addon" style="width: 100px; text-align: right; color: red;">位置：</div>
                                    <input type="text" style="width:250px;" class="form-control" name="PositionName" readonly>
                                    <input type="hidden" name="PositionCode">
                                </div>
                                <div style="height:10px;">&nbsp;</div>
                                <div class="input-group">
                                    <div class="input-group-addon" style="width: 100px; text-align: right; color: red;">工作时长：</div>
                                    <input type="text" style="width:180px;" class="form-control" name="WorkHour" readonly>
                                    <div class="input-group-addon" style="width: 70px;">小时</div>
                                </div>
                            </div>
                            <div name="DF" class="col-lg-6 col-sm-6 col-xs-6">
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="div4">
                        <div class="col-lg-12 col-sm-12 col-xs-12" style="margin-left:-30px;">
                            <div class="col-lg-6 col-sm-6 col-xs-6">
                                <div class="input-group" style="margin-top:10px;">
                                    <div class="input-group-addon" style="width: 100px; text-align: right; color: red;">位置：</div>
                                    <input type="text" style="width:250px;" class="form-control" name="PositionName" readonly>
                                    <input type="hidden" name="PositionCode">
                                </div>
                                <div style="height:10px;">&nbsp;</div>
                                <div class="input-group">
                                    <div class="input-group-addon" style="width: 100px; text-align: right; color: red;">工作时长：</div>
                                    <input type="text" style="width:180px;" class="form-control" name="WorkHour" readonly>
                                    <div class="input-group-addon" style="width: 70px;">小时</div>
                                </div>
                            </div>
                            <div name="DF" class="col-lg-6 col-sm-6 col-xs-6">
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="div5">
                        <div class="col-lg-12 col-sm-12 col-xs-12" style="margin-left:-30px;">
                            <div class="col-lg-6 col-sm-6 col-xs-6">
                                <div class="input-group" style="margin-top:10px;">
                                    <div class="input-group-addon" style="width: 100px; text-align: right; color: red;">位置：</div>
                                    <input type="text" style="width:250px;" class="form-control" name="PositionName" readonly>
                                    <input type="hidden" name="PositionCode">
                                </div>
                                <div style="height:10px;">&nbsp;</div>
                                <div class="input-group">
                                    <div class="input-group-addon" style="width: 100px; text-align: right; color: red;">工作时长：</div>
                                    <input type="text" style="width:180px;" class="form-control" name="WorkHour" readonly>
                                    <div class="input-group-addon" style="width: 70px;">小时</div>
                                </div>
                            </div>
                            <div name="DF" class="col-lg-6 col-sm-6 col-xs-6">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var mObj = CommonFun_Data();
        var jobCode = "";

        $(function () {
            var data;
            eval("(data = @Html.Raw(ViewBag.Ret));");

            var obj = data.obj1;
            mObj.Fun_Data_Init(obj);
            mObj.Fun_Set_Html();

            var obj = data.obj4;
            if (obj != null && obj.length > 0) {
                jobCode = obj[0].JobCode;
                $("#JobCode").val(obj[0].JobCode);
                $("#JobName").val(obj[0].JobName);

                if (obj[0].JobCode == "3") {
                    $("div.tab-pane input[name='PositionName']").parent().remove();
                    $("div.tab-pane div.ztree").parent().next().remove();
                    $("div.tab-pane div.ztree").parent().remove();
                }

                if (obj[0].JobCode == "3" || obj[0].JobCode == "4") {
                    $("div.tab-pane input[name='WorkHour']").parent().children().hide();
                    //$("div.tab-pane input[name='WorkHour']").parent().children().attr("style", "width:100px; text-align:right;");
                }
            }

            var obj = data.obj2;
            var dfs = data.obj3;
            if (obj != null) {
                for (var i = 5; i > obj.length; i--) {
                    $("ul.nav-tabs a[name='div" + i + "']").remove();
                    $("#div" + i).remove();
                }

                for (var i = 0; i < obj.length; i++) {
                    $("#div" + (i + 1) + " button").click();

                    $("#div" + (i + 1) + " input[name='PositionName']").val(obj[i].PositionName);
                    $("#div" + (i + 1) + " input[name='WorkHour']").val(obj[i].WorkHour);

                    var html = "";

                    if (jobCode == "3" || jobCode == "4") {
                        html += "<div style='height:10px;'>&nbsp;</div>";
                        html += "<div class='input-group'>";
                        html += "<div class='input-group-addon' style='width: 150px; text-align: right; color: red;'>设备：</div>";
                        html += "<input type='text' style='width:200px;' class='form-control' value='" + obj[i].EquipmentName1 + "' readonly>";
                        html += "</div>";
                    }

                    if (dfs != null && dfs.length > 0) {
                        for (var j = 0; j < dfs.length; j++) {
                            if (dfs[j].WorkRecordDetailID == obj[i].ID) {
                                var row = dfs[j];

                                html += "<div name='DF' style='height:10px;'>&nbsp;</div>";
                                html += "<div name='DF' class='input-group'>";
                                html += "<div class='input-group-addon' style='width: 150px; text-align: right;'>" + row.FieldName + "：</div>";

                                if (row.FieldMode == "1") { // 数字
                                    if (jobCode == "3" || jobCode == "4") {
                                        html += "<input type='text' style='width:50px;' class='form-control' name='" + row.FieldKey + "' value='" + row.FieldValue + "' readonly>";
                                        html += "<div class='input-group-addon' style='width: 50px;'>车</div>";
                                        html += "<input type='text' style='width:100px;' class='form-control' name='" + row.FieldKey + "' value='" + row.FieldTypeName + "' readonly>";
                                        html += "</div>";

                                        html += "<div name='DF' style='height:10px;'>&nbsp;</div>";
                                        html += "<div name='DF' class='input-group'>";
                                        html += "<div class='input-group-addon' style='width: 150px; text-align: right;'>车型：</div>";
                                        html += "<input type='text' style='width:200px;' class='form-control' name='" + row.FieldKey + "' value='" + row.FieldUnit + "' readonly>";
                                        html += "</div>";

                                        html += "<div name='DF' style='height:10px;'>&nbsp;</div>";
                                        html += "<div name='DF' class='input-group'>";
                                        html += "<div class='input-group-addon' style='width: 150px; text-align: right;'>重量：</div>";
                                        html += "<input type='text' style='width:200px;' class='form-control' name='" + row.FieldKey + "' value='" + row.FieldValue0 + " " + row.FieldUnit0 +"' readonly>";
                                    } else {
                                        html += "<input type='text' style='width:130px;' class='form-control' name='" + row.FieldKey + "' value='" + row.FieldValue + "' readonly>";
                                        html += "<div class='input-group-addon' style='width: 70px;'>" + row.FieldUnit + "</div>";
                                    }
                                }
                                if (row.FieldMode == "2" || row.FieldMode == "3") { // 文本或时间
                                    html += "<input type='text' style='width:200px;' class='form-control' name='" + row.FieldKey + "' value='" + row.FieldValue + "' readonly>";
                                }

                                html += "</div>";
                            }
                        }

                        $("#div" + (i + 1) + " div[name='DF']").append(html);
                    }
                }
            }
        });
    </script>

    <script type="text/javascript">
        function Btn_Submit() {
            if (confirm("提交后将由领导进行审核，确认提交吗？")) {
                var ajaxObj = CommonFun_Ajax();
                ajaxObj.url = "../api/C13_MineDataEntry/DoUpdate";
                ajaxObj.data = { "para": "WorkRecordID=" + $("#ID").val() + "&UserID=@ViewBag.UserID&Result=0&Remark=" + $("#RRemark").val() };
                ajaxObj.getData(function (data) {
                    if (data.ret_status == "1") {
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                    } else {
                        alert("保存失败！");
                    }
                }, function () {
                    // Error
                });
            }
        }
    </script>
</body>
</html>
