
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="../../Contents/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="../../Contents/Scripts/jquery-1.11.3.min.js"></script>
    <script src="../../Contents/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="../../Contents/layer/layer.js"></script>
</head>
<body>
    <div style="margin:20px;">
        <div class="form-group" style="height:280px;">
            <div class="input-group">
                <div class="input-group-addon" style="width: 100px; text-align: right">密码：</div>
                <input type="password" style="width:480px;" class="form-control" id="Password" maxlength="20">
            </div>
            <div style="height:5px;">&nbsp;</div>
            <div class="input-group">
                <div class="input-group-addon" style="width: 100px; text-align: right">确认密码：</div>
                <input type="password" style="width:480px;" class="form-control" id="Password2" maxlength="20">
            </div>
        </div>
        <div class="form-group" style="text-align:right;">
            <button type="button" class="btn btn-primary" onclick="Do_Save();">提交</button>
        </div>
    </div>

    <script src="../../Scripts_Common/Common.js"></script>
    <script src="../../Scripts_Common/ParaData.js"></script>

    <script type="text/javascript">
        function Do_Save() {
            var dataObj = CommonFun_Data();
            dataObj.Fun_Set_OneCheckInfo("Password", "密码", "null");
            dataObj.Fun_Set_OneCheckInfo("Password2", "确认密码", "null");

            try {
                dataObj.Fun_Get_Html();
                dataObj.Fun_Check();

                if (dataObj.Data.Password != dataObj.Data.Password2) {
                    alert("密码不一致，请重新输入！");
                    return false;
                }
            } catch (err) {
                alert(err);
                return false;
            }

            dataObj.Fun_Data_Add("ID", "@ViewBag.UserID");

            layer.load(2);
            var ajaxObj = CommonFun_Ajax();
            ajaxObj.url = "../api/A02_HomePage/EditPassword";
            ajaxObj.data = { "para": dataObj.Fun_Serialize_All() };
            ajaxObj.getData(function (data) {
                layer.closeAll("loading");

                if (data.ret_status == ParaData.ret.Succes) {
                    parent.layer.close(parent.layer.getFrameIndex(window.name));
                } else {
                    alert("保存失败！");
                }
            }, function () {
                // Error
                layer.closeAll("loading");
            });
        }
    </script>
</body>
</html>

