
@{
    ViewBag.Title = "PageList";
    Layout = "~/Views/A02_HomePage/_MB.cshtml";
}

<link href="../../Contents/MyUI/css/content.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="col-lg-12 col-sm-12 col-xs-12" style="margin-top:10px; margin-left:-30px;margin-bottom:10px;">
                <div class="col-lg-4 col-sm-4 col-xs-4">
                    <div class="input-group input-group-sm" style="width:95%;">
                        <span class="input-group-addon" style="width:100px;">简称</span>
                        <input id="Para1" type="text" class="form-control" placeholder="" maxlength="10" />
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-4">
                    <div class="input-group input-group-sm" style="width:95%;">
                        <input type="button" class="btn btn-primary" style="margin-top:-3px;margin-left:10px;" value="查询" onclick="Btn_Search();" />
                        <input type="button" class="btn btn-primary" style="margin-top:-3px;margin-left:10px;" value="新增" onclick="Btn_Add();" />
                    </div>
                </div>
            </div>
            <div class="widget-box">
                <div class="widget-content nopadding">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th name="i" class="c" style="width:80px;">序号</th>
                                <th name="STitle" class="l">简称</th>
                                <th name="Remark" class="l">描述</th>
                                <th name="Status_Str1" class="c">状态</th>
                                <th name="op" class="c" style="width:120px;">操作</th>
                            </tr>
                        </thead>
                        <tbody id="pagelist_1_tbody"></tbody>
                    </table>
                    <div id="pagelist_1" style="margin-top:-20px;text-align:right;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../Scripts_Common/PageList.js"></script>

<script type="text/javascript">
    var dataObj = PageListFun_Data();
    dataObj.UserID = "@ViewBag.UserID";
    dataObj.OrgCode = "@ViewBag.OrgCode";
    dataObj.RRoleCode = "@ViewBag.RRoleCode";
    dataObj.DRoleType = "@ViewBag.DRoleType";
    dataObj.Fun_Loading = function () {
        initHtml();
    };
    dataObj.PageList_BtnInfo.Btns = [
        {
            "Tag": "edit",
            "Title": "编辑",
            "Fun_Callback": function (obj) {
                return true;
            },
            "Fun_Click": function (obj) {
                var ID = obj.ID;
                CommonFun_OpenLayer({ "Type": "705*550", "Title": "编辑", "Url": "/B04_Org/Edit", "Data": { "ID": ID }, "Fun_End": function () { initHtml(); } });
            }
        }, {
            "Tag": "update1",
            "Title": "启用",
            "Fun_Callback": function (obj) {
                if (obj.Del == "1") {
                    return true;
                } else {
                    return false;
                }
            },
            "Fun_Click": function (obj) {
                var ajaxObj = CommonFun_Ajax();
                ajaxObj.url = "../api/B04_Org/DoUpdate";
                ajaxObj.data = { "para": "ID=" + obj.ID + "&Del=0" };
                ajaxObj.getData(function (data) {
                    initHtml();
                }, function () {
                    // Error
                });
            }
        }, {
            "Tag": "update2",
            "Title": "作废",
            "Fun_Callback": function (obj) {
                if (obj.Del == "0") {
                    return true;
                } else {
                    return false;
                }
            },
            "Fun_Click": function (obj) {
                var ajaxObj = CommonFun_Ajax();
                ajaxObj.url = "../api/B04_Org/DoUpdate";
                ajaxObj.data = { "para": "ID=" + obj.ID + "&Del=1" };
                ajaxObj.getData(function (data) {
                    initHtml();
                }, function () {
                    // Error
                });
            }
        }
    ];

    $(function () {
        Crumbs.Data[0].Name = "组织结构列表";
        Crumbs.Data[0].Url = "/B04_Org/PageList?r=" + Math.random() + "&CurrPage=" + CurrPage;
        Crumbs.Fun_SetCrumbs();

        initHtml();
    });

    function initHtml() {
        var ajaxObj = CommonFun_Ajax();
        ajaxObj.url = "../api/B04_Org/GetPageList";
        ajaxObj.data = { "para": dataObj.PageList_Json() };
        ajaxObj.getData(function (data) {
            dataObj.Fun_InitData(data.obj1);
            dataObj.Fun_InitDiv("pagelist_1");
            dataObj.Fun_InitTable("pagelist_1_tbody");
        }, function () {
            // Error
        });
    }
</script>

<script type="text/javascript">
    function Btn_Search() {
        initHtml();
    }

    function Btn_Add() {
        CommonFun_OpenLayer({ "Type": "705*550", "Title": "新增", "Url": "/B04_Org/Add", "Fun_End": function () { initHtml(); } });
    }
</script>